.textinput{
  background-color: #dadada;
  color: black;
  padding-top: 8px;
  padding-bottom: 8px;
  padding-left: 20px;
  padding-right: 20px;
  border-radius: 20px;
  font-size: 14px;
  min-width: 120px;
  width: 200px;
  border: 0px solid transparent;
  box-shadow: 0px 0px 3px 1px rgba(0,0,0,0.2);
}
