.main {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  padding: 6rem;
  min-height: 100vh;
}

.form {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  gap: 15px;
}